body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  width: 380px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 12px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

textarea {
  resize: none;
}

small {
  color: red;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
}
